@use "sass:math";
@import "../../styles/variables.scss";
@import "../../styles/colors.scss";

.header {
    background: $white;
    height: $headerHeight;
    .header-container {
        width: $maxWidth;
        max-width: $maxWidth;
        color: $black;
        height: inherit;
        line-height: $headerHeight;
        margin: 0 auto;
        padding: 0 24px;
        &__toolbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: inherit;
        }
        &__logo {
            display: flex;
            align-items: center;
            padding: 0 10px;
            &:hover {
                cursor: pointer;
            }
        }
        &__avatar {
            height: inherit;
            line-height: $headerHeight;
            display: flex;
            align-items: center;
            &:hover {
                cursor: pointer;
            }
        }
    }
}