@import "../../styles/colors.scss";
.img-component__wrapper {
    position: relative;
    &__close-icon {
        position: absolute;
        top: 7px;
        right: 7px;
        background-color: $black;
        color: $light-grey;
        display: flex;
        padding-left: 7px;
        padding-right: 7px;
        padding-top: 3px;
        padding-bottom: 3px;
        font-size: 12.5px;
        border-radius: 10px;
        animation: .5s show ease;
        @keyframes show {
            from { opacity: 0; }
            to { opacity: 1; }
        }
        &:hover {
            color: $white;
        }
    }
}