@import "styles/variables";
@import "styles/colors";

.message-area-container {
    grid-column-start: 1;
    grid-row-start: 1;
    overflow: hidden;
    margin-bottom: 10px;
    min-height: calc(100vh - $calcHeight);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $white;
    border-radius: 5px;
    position: relative;
    .message-area-container--messages {
        width: 100%;
        flex: 1 1 auto;
        position: relative;
        margin-bottom: 25px;
        .message-area-container--messages-scrollable {
            overflow-y: overlay;
            display: block;
            height: auto;
            max-height: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
            .message-area-container--upper-date-block {
                position: fixed;
                height: 24px;
                font-size: 13px;
                color: $dark;
                text-align: center;
                border: 1px solid $very-light-grey;
                border-radius: 15px;
                transform: translate(-50%, 0);
                padding: 2px 7px;
                z-index: 5;
                opacity: 1;
                transition: 0.55s opacity;
                background-color: $very-light-grey;
            }
            .message-area-container--loading {
                margin: auto;
            }
            .message-area-container--messages-wrapper {
                padding-top: 10px;
                padding-left: 10px;
                padding-right: 10px;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                min-height: 100%;
                .message-area-container--loading-is-more {
                    margin: auto;
                }
            }
            .message-area-container--no-history {
                font-size: 14px;
                opacity: 0.7;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        .message-area-container--is-write {
            color: $medium-grey;
            font-size: 13px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 100%);
        }
    }
    .messages--submit-block {
        padding: 13.2528px;
        width: 100%;
        border-top: 1px solid $light-grey;
        min-height: 62px;
        max-height: 226.5056px;
        background-color: $very-medium-grey;
        display: flex;
        flex: 0 0 auto;
        align-items: center;
        justify-content: space-between;
        position: relative;
        .message-area-container--anchor {
            position: absolute;
            right: 13px;
            bottom: 100px;
            width: 38px;
            height: 38px;
            border: 1px solid $super-light-grey;
            border-radius: 50%;
            -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover {
                background: rgba(174,183,194,.12);
                cursor: pointer;
            }
            .message-area-container--anchor-counter {
                border-radius: 50%;
                width: 20px;
                height: 20px;
                font-size: 13px;
                background: $blue;
                color: $white;
                position: absolute;
                top: -5px;
                right: -5px;
            }
            .message-area-container--anchor-icon {
                color: $placeholder-grey;
            }
        }
        .messages-container--search-field-wrapper {
            width: 93%;
            position: relative;
            .messages-container--search-field-icon {
                height: 25px;
                width: 25px;
                position: absolute;
                color: $placeholder-grey;
                bottom: 7px;
                opacity: 0.7;
                &:hover {
                    cursor: pointer;
                    transition: all 0.5s;
                    opacity: 1;
                }
            }
            .attach-file {
                right: 8px;
                transform: rotate(45deg);
            }
        }
        .messages-container--search-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 5%;
            text-align: center;
            opacity: 0.5;
            &:hover {
                cursor: pointer;
            }
        }
    }
}