@import "styles/colors";
@import "styles/variables";

.messages-container {
    padding: 20px;
    min-height: calc(100vh - $calcHeight);
    overflow: hidden;
    position: relative;
    &__skeleton-container {
        div {
            display: flex;  
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            span {
                &:first-child {
                    width: 60px;
                    height: 50px;
                    margin-right: 10px;
                }
                &:last-child {
                    width: 100%;
                    margin-right: 10px;
                    height: 38px;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
    .skeleton-container {
        width: 100%;
        margin-top: 20px;
        &__row {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
    }
    &__list {
        max-height: calc(100vh - $calcHeight2);
        overflow-y: auto;
        &__is-more {
            margin: 0 auto;
        }
    }
    &__item {
        &:hover {
            cursor: pointer;
        }
        &__avatar {
            width: 50px;
            height: 50px;
        }
        &__dialog-name {
            font-size: 14px;
            color: $black;
            font-weight: 500;
            -webkit-font-smoothing: subpixel-antialiased;
        }
        &__secondary {
            display: flex;
            align-items: center;
            margin-top: 8px;
            font-size: 13px;
            color: $dark-blue;
        }
        &__author-avatar {
            margin-right: 7px;
        }
        &__dialog-date {
            opacity: 0.5;
            font-size: 14px;
        }
    }
    &__no-dialogs {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-top: 20px;
    }
}