@import "styles/variables";
.profile-container {
    .profile-container--paper-block {
        padding: 10px 20px;
    }
    .profile-container_photo-block {
        width: 100%;
        margin: 0 auto;
        &:hover {
            cursor: pointer;
        }
        .profile-container_photo-block--avatar {
            margin: 0 auto;
        }
    }
    .profile-container_edit-button-block {
        text-align: center;
        padding-top: 1rem;
        width: 100%;
        .profile-container_edit-button {
            padding-inline: 30px;
        }
    }
    .profile-container_info--user-name {
        font-size: 20px;
        font-weight: 400;
        text-align: start;
    }
    .profile-container_info--status {
        opacity: 0.5;
        cursor: pointer;
        font-size: 12px;
        padding-bottom: 10px;
        border-bottom: 1px solid $light-grey;
        text-align: start;
    }
    .profile-container_info--short-info-block {
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid $light-grey;
        font-size: 12px;
        position: relative;
        &:hover {
            .profile-container_info--short-info-edit {
                visibility: visible;
            }
        }
        .profile-container_info--short-info-edit {
            visibility: hidden;
            position: absolute;
            right: 0;
            top: -9px;
            background-color: $white;
            color: $medium-grey;
            padding-left: 5px;
            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
        .profile-container_info--short-info {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-block: 3px;
            text-align: start;
            .profile-container_info--short-info-title {
                color: $medium-grey;
                width: 30%;
            }
            a {
                color: $blue;
                &:hover {
                    text-decoration: underline;
                }
            }
            div {
                color: $blue;
            }
        }
    }
    .profile-container_info--counts-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block: 10px;
        &:hover {
            cursor: pointer;
        }
        .profile-container_info--count {
            text-align: center;
            font-size: 12px;
            color: $dark-blue;
            width: 20%;
            div {
                color: $blue;
                font-weight: 400;
                font-size: 19px;
                text-align: center;
            }
        }
    }
    .profile-container_block--title {
        font-size: 14px;
        font-weight: 400;
        display: flex;
        &:hover {
            cursor: pointer;
        }
        div {
            color: $medium-grey;
            padding-inline: 5px;
        }
    }
    .profile-container_block-ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .profile-container_block-li {
            width: 33%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0;
            font-size: 14px;
            &:hover {
                cursor: pointer;
            }
            .profile-container_block--friend-avatar-block {
                .profile-container_block--friend-avatar {
                    margin: 0 auto;
                    height: 50px;
                    width: 50px;
                }
            }
        }
    }
    .profile-container_photos--slider {
        padding-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        .profile-container_photos--photo {
            padding-right: 10px;
            &:hover {
                cursor: pointer;
            }
        }
        .profile-container_photos--photo:last-child {
            padding-right: 0;
        }
        .profile-container_photos--slider-empty {
            opacity: 0.5;
        }
    }
    .profile-container_skeleton-block {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}