@use "sass:math";
@import "../../styles/variables.scss";
@import "../../styles/colors.scss";

.main__container {
    width: "inherit";
    background: $mainBackground;
    height: inherit;
    width: inherit;
    &__body {
        width: $maxWidth;
        max-width: $maxWidth;
        margin: 0 auto;
        padding: 0 24px;
        display: flex;
        align-items: flex-start;
    }
    &__body_content {
        padding-top: 2%;
        padding-left: 2%;
        width: 100%;
        text-align: center;
    }
}