.edit-container__sex-select {
    margin: 16px 0 24px 0;
}
.edit-container__work {
    margin-top: 24px;
}
.edit-container__form {
    * {
        font-size: 16px;

    }
    svg {
        font-size: 20px;
    }
}