@import "styles/colors";
.modal-carousel-container__user-info {
    position: absolute;
    top: 20px;
    left: 0;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    &__container {
        min-width: max-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}

.modal-carousel-container {
    min-width: 480px;
    max-height: calc(100vh - 100px);
    background: $light-grey;
    &__current-image {
        display: block;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        width: auto;
        overflow: hidden;
        margin: 0 auto;
    }
}