$super-light-grey: #dce1e6;
$very-light-grey: #d3d9de;
$light-grey: #babec2;
$placeholder-grey: #818C99;
$very-medium-grey: #fafbfc;
$medium-grey: #818c99;
$white: #ffffff;
$blue: #2a5885;
$dark-blue: #626d7a;
$red: #d32f2f;
$online-green: #44b700;
$green: #4fae4e;
$success: #2e7d32;
$black: #000000;
$mainBackground: #edeef0;
$noticeGrey: #aeb7c2;
$dark: #424242;
$light-dark: #616161;
$avatarWithoutUser: #BDBDBD;