/* Обертка блока */
.paper-block {
    padding: 10px 20px;
}

/* Прозрачный текст */
.opacity-text {
    color: #babec2;
    padding: 10px 0;
    font-weight: 400;
    font-size: 14px;
}

/* Для счетчика количества (друзей, фото и т.д.) */
.counter {
    color: #626d7a;
    padding-left: 5px;
}

/* Для заголовка блока */
.block-title {
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    line-height: 150%;
}
.block-title:hover {
    cursor: pointer;
}

/* Вкладка */
.label-tab {
    font-size: 13px;
    min-height: 30px;
}